.bola {
  background: #2fbedb;
  border-radius: 2em;
  margin: 0;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
  border: 2px solid #4693e8;
  margin: 1px;
}
.check{
  background: rgb(208, 156, 16);
}
.uncheck{
  background: rgb(30, 120, 193);
}
