.fila {
  display: flex;
  align-items: center;

}

.letter {
 
  width: 3em;
  height: 2em;
  margin: 0;
  padding: 0;
  border-radius: 0.2em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.letterb{
  background: radial-gradient(circle at 50% 50%, rgba(255, 60, 135, 0.65) 0%, rgba(187, 7, 7, 1) 100%);
}
.letteri{
  background: radial-gradient(circle at 50% 50%, rgba(60, 255, 67, 0.52) 0%, rgba(0, 255, 0, 1) 100%);
}
.lettern{
  background: radial-gradient(circle at 50% 50%, rgba(255, 205, 60, 0.52) 0%, rgba(255, 174, 0, 1) 100%);
}
.letterg{
  background: radial-gradient(circle at 50% 50%, rgba(60, 61, 255, 0.69) 0%, rgba(0, 1, 255, 1) 100%);
}
.lettero{
  background: radial-gradient(circle at 50% 50%, rgba(255, 60, 248, 0.52) 0%, rgba(255, 0, 236, 1) 100%);
}
.numeros-bolas{
  display: flex;
    flex-wrap: wrap;

}
.container-bolas{
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0.1em;
  margin: 0.1em;
}