<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="navChange($event)">
    <li [ngbNavItem]="1">

      <button ngbNavLink>BINGO</button>
      <ng-template ngbNavContent>

        <div class="container-all-bingo">
          <div class="card item-bingo">
            
            <div class="card-body ">
              <div id="jugadas">
                <label for="">Jugadas a realizar: </label>
                <span class="badge text-bg-success m-1" *ngFor="let jugada of bingoService.jugadasARealizar;">
                  {{jugada}}
                </span>
              </div>
            </div>
          </div>
          <div id="container-btn-estados" class="item-bingo">
            <button type="button" class="btn btn-primary m-1" (click)="iniciar()"
              [disabled]="bingoService.estado == BINGO_ESTADO_TYPO.INICIADO"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger m-1"><i class="fa fa-stop" aria-hidden="true"></i>
            </button>
  
          </div>
          <div class="container-bolas-ultimas item-bingo">
            <div class="ultimabola-container">
              <div class="bola-superior color-b-gradient">
                <div class="bola-intermedia">
                  <div class="contenido-bola border-b">
                    <div class="bola-letter">
                      {{!!bingoService.historialNumeros[bingoService.historialNumeros.length-1]? bingoService.historialNumeros[bingoService.historialNumeros.length-1].letter: ''}}

                    </div>
                    <div class="bola-numero">
                      {{!!bingoService.historialNumeros[bingoService.historialNumeros.length-1]? bingoService.historialNumeros[bingoService.historialNumeros.length-1].numero: ''}}
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="ultimasbolas">
              <div class="centro-ultimasbolas">
                {{!!bingoService.historialNumeros[bingoService.historialNumeros.length-2]? bingoService.historialNumeros[bingoService.historialNumeros.length-2].numero: ''}}
              </div>
            </div>
            <div class="ultimasbolas">
              <div class="centro-ultimasbolas">
                {{!!bingoService.historialNumeros[bingoService.historialNumeros.length-3]? bingoService.historialNumeros[bingoService.historialNumeros.length-3].numero: ''}}
              </div>
            </div>
            <div class="ultimasbolas">
              <div class="centro-ultimasbolas">
                {{!!bingoService.historialNumeros[bingoService.historialNumeros.length-4]? bingoService.historialNumeros[bingoService.historialNumeros.length-4].numero: ''}}
              </div>
            </div>
          </div>

          <app-tablero-bolas style="display: flex;" class="item-bingo" />

        </div>
        
        

        

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>CONFIGURACION</button>
      <ng-template ngbNavContent>
        <div class="jugadas-container">
          <div class="form-check jugadachk" *ngFor="let tipoJuego of tipoJuegos">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{tipoJuego.id}}" 
             
             [checked]="tipoJuego.checked"
             (change)="changeCheckbox(tipoJuego)"
             >
            <label class="form-check-label" for="flexCheckDefault{{tipoJuego.id}}">
              {{tipoJuego.id}}
            </label>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" >
      <button ngbNavLink>TABLAS</button>
      <ng-template ngbNavContent>
        <div class="" style="display: flex;flex-direction: column;margin: 0;">
          <div class="opciones">
            <button type="button" class="btn btn btn-outline-primary btn-sm" (click)="crearHoja()">Crear HOJA</button>
            <button type="button" class="btn btn btn-outline-primary btn-sm" (click)="reset()">RESET(Elimina todas las
              hojas)</button>
              <button type="button" class="btn btn btn-outline-primary btn-sm" (click)="exportarTablas()">Exportar</button>
              <div style="width: 20em; display: inline-flex; ">
                <div class="col-6"><input class="form-control form-control-sm" type="file" id="archivoInput" accept="application/json"></div>
                <div class="col-6">                <button type="button" class="btn btn btn-outline-primary btn-sm" (click)="importarTablas()">Importar</button>
                </div>
                

              </div>
          </div>
          <app-visor-bingos (onCrearHoja)="crearHoja()" (onEditarHoja)="editarHoja($event)"
            (onEliminarHoja)="eliminarHoja($event)"
            (onEditarTabla)="editarTabla($event)"
            (onEliminarTabla)="eliminarTabla($event)"
            (onCrearTabla)="crearTabla($event)"
            ></app-visor-bingos>
  
        </div>
        
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>