<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
 
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{textLabel}} :</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="textValue">
    </div>
 
 
    <button type="submit" class="btn btn-primary" (click)="passBack()">Guardar</button>

</div>