<div class="visor-container">

  <div class="hojas">
    <div class="hoja" *ngFor="let hoja of bingoService.hojas;">
      <div class="hoja-header">
        <label for="">Nombre de hoja: {{hoja.nombre}}</label>
        <div class="menu-hoja">
          <button class="btn btn-primary  btn-sm" (click)="crearTabla(hoja)"><i class="fa fa-plus"></i></button>
          <button class="btn btn-primary  btn-sm" (click)="editarHoja(hoja)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-primary  btn-sm" (click)="eliminarHoja(hoja)"><i class="fa fa-trash"></i></button>
          
        </div>
       
      </div>
      <div class="tablas-bingo">

          <!-- -->
          <app-tablabingo [bingoJugadas]="tabla.bingoJugadas" [typeBingo]="tabla.typeBingo" [numerosBingo]="tabla.numeros" 
          [masProbable]="tabla.probalidades[0]"
          [codigo]="tabla.codigo" *ngFor="let tabla of hoja.tablasDeBingo" 
    
          [contextMenu]="oneContextMenu" [contextMenuValue]="tabla"  (contextmenu)="onContextMenu($event, tabla)" class="tabla-bingo">
          </app-tablabingo>

          <context-menu #oneContextMenu  menuClass="custom-style" >
           <ng-template contextMenuItem  [disabled]="true">
          
            <span class="menu-title">  Tabla: {{ tablaSeleccionada?.codigo }}</span>
           </ng-template>
           <ng-template contextMenuItem [divider]="true"></ng-template>
           <ng-template contextMenuItem (execute)="editarTabla($event.value)">
             <span > <i class="fa fa-edit"></i> Editar tabla</span>
         
           </ng-template>
           <ng-template contextMenuItem (execute)="eliminarTabla($event.value)" >
             <span > <i class="fa fa-trash"></i> Eliminar tabla</span>
           </ng-template>
           <ng-template contextMenuItem (execute)="copiarTabla($event.value)"  >
             <span cdkCopyToClipboard="Hoja: {{hoja.nombre}}   |   Tabla: {{tablaSeleccionada?.codigo}}"   (cdkCopyToClipboardCopied)="onClipboardCopy($event)"> <i class="fa fa-clone"></i>copiar codigo de tabla</span>
           </ng-template>
         </context-menu>
        
       
      </div>
      
      
      

    </div>
   
  </div>

  
</div>

